body{
  background-color: #202020; 
  color: #ffffff; 
  font-family: 'Josefin Sans', sans-serif;

}
.bg {
  /* The image used */
  background-image: url("pictures/me_background.JPG");

  /* Full height */
  height: 92%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_bg{
  height: 33%;
  background-image: url("pictures/photography_sample_1.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar{
  background-color: #7f0000;
  padding: 5px;
  padding-left: 10px;
}
.navbar-brand{
  font-size: 30px;
  padding: 0%;
  
}
.nav-link{
  font-size: 20px; 
  padding: 0%;
}

.btn-primary{
   
  background-color: #b71c1c; 
  color: #ffffffb7;
  outline: none;
  border-style: none;

}

.dropdown-menu{
  background-color: #f05545;
  
}

.dropdown-item{
  color: #ffffff;

}


.btn-primary:hover{
   
  background-color: #8e0000c4; 
  color: #dfdfdf;
  outline: none;
  border-style: none;

}
.btn-primary{
   
  background-color: #db0000c4; 
  color: #ffffff;
  outline: none;
  border-style: none;
  border-radius: 10px;

}
.btn-primary:focus{
   
  background-color: red!important; 
  color: #ffffff !important;
  border-style: none !important;
  box-shadow: none!important;

}

.card-body{
  background-color: #272727;
}
.card-footer{
  background-color: #313131;
  
}
.card{
  border: 0;
  
}

.jumbotron{
  background-color: #202020;
}
.secondary_background{
  background-color: #222222;
  padding: 35px;
  border-radius: 10px;
}
.primary_background{
  background-color: #313131;
  padding: 10px;
  border-radius: 10px;
}
.terciary_background{
  background-color: #272727;
  padding: 10px;
  border-radius: 10px;
}
.extra_button_fill{
  background-color: #8e0000c4;
  
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 0%;
  
}
.extra_button_fill:hover{
   
  background-color: #db0000c4; 
  color: #dfdfdf;
}
.text_fill{
  background-color: #272727;
  padding: 15px;
  margin: 0px;
}
.title_fill{
  background-color: #313131;
  padding: 10px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.program_button{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.view:hover {
  background-color: red;
  opacity: 0.8;
  }
  @media (max-width: 1200px){
    .text-email{
      font-size: x-small;
    }
  }
  @media (max-width: 767px){
    .text-email{
      font-size: medium;
    }
  }
  @media (max-width: 800px) {
    h1, h2, h4{
      font-size: large;
    }
    .bg
    {
      background-position: -100px;
      background-attachment: fixed;
      width: 100%; 
    }
    .nav-link{
      font-size:25px; 
      padding: 0%;
    }
    .about_bg{
      height: 33%;
      background-image: url("pictures/photography_sample_1.JPG");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding-top: 2%;
    }
    .extra_button_fill{
      margin-bottom: 3px;
    }
    
  }
  @media (min-width: 801px) {
    body, html {
      height: 100%;
    }
  }

