body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("me_background.JPG");

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary{
   
  background-color: #8e0000; 
  color: #ffffffb7;
  border-style: none;

}
.btn-primary:hover{
   
  background-color: #8e0000c4; 
  color: #ffffff94;
  border-style: none;

}

.view:hover {
  background-color: red;
  opacity: 0.8;
  }